.cancel_icon {
    position: absolute;
    right: 21px;
    top: 25px;
    margin-top: -5px;
    right: 10px;
    cursor: pointer;
    background: url("chrome-extension://__MSG_@@extension_id__/images/close.svg");
    height: 24px;
    width: 24px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

body.modal-open {
    overflow: hidden;
}

.email-validation-error {
    color: red;
    font-weight: bolder;
    position: relative;
    right: 15%;
}